# Ignore everything in this directory
*
# Except this file
!.gitignore
!backup.sh
!restore.sh
!local_settings.py
!update_geonode.sh
!NCEP/
NCEP/*
!NCEP/ncep_convert.sh
!NCEP/temp_color_k.txt
!NCEP/temp_color_c.txt
!Barrow
Barrow/*
!Barrow/barrow.py
